<div class="main-container">
  <div class="form-container">
    <form class="login-form needs-validation" [formGroup]="LoginForm" (ngSubmit)="SendLogin()" novalidate>
      <h2 class="form-title">Bem-vindo de volta!</h2>
      <p class="form-subtitle">Faça login para continuar</p>
      <div class="form-group">
        <label for="user">Email</label>
        <div class="inputs">
          <i class="input-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
              <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
          </i>
          <input type="text" name="usuario" id="user" placeholder="seu@email.com" class="input-field" formControlName="email"
                 [class.is-invalid]="LoginForm.get('email')?.invalid && (LoginForm.get('email')?.dirty || LoginForm.get('email')?.touched)">
        </div>
        <div *ngIf="LoginForm.get('email')?.invalid && (LoginForm.get('email')?.dirty || LoginForm.get('email')?.touched)"
             class="invalid-feedback d-block"> <div *ngIf="LoginForm.get('email')?.errors?.['required']">
            Email obrigatório.
          </div>
          <div *ngIf="LoginForm.get('email')?.errors?.['email']">
            O email deve ser um endereço de email válido.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <div class="inputs">
          <i class="input-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
              <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
            </svg>
          </i>
          <input type="password" name="senha" id="password" placeholder="Sua senha" class="input-field"
                 formControlName="password"
                 [class.is-invalid]="LoginForm.get('password')?.invalid && (LoginForm.get('password')?.dirty || LoginForm.get('password')?.touched)">
        </div>
        <div *ngIf="LoginForm.get('password')?.invalid && (LoginForm.get('password')?.dirty || LoginForm.get('password')?.touched)"
             class="invalid-feedback d-block">
          <div *ngIf="LoginForm.get('password')?.errors?.['required']">
            Senha obrigatória.
          </div>
          <div *ngIf="LoginForm.get('password')?.errors?.['pattern']">
            A senha deve ter pelo menos 6 caracteres, uma letra maiúscula e um número.
          </div>
        </div>
        
      </div>
      <input class="submit-button" type="submit" value="Entrar" [disabled]="LoginForm.invalid">
      <div class="form-footer">
        <p class="form-footer-text">
          Não tem uma conta? <a routerLink="/signUp-enterprise">Cadastre-se</a>
        </p>
      </div>
    </form>
  </div>
  <div class="image-side">
  </div>
</div>
