<div class="main-container" [class.collapsed]="isCollapsed && !isMobile" [class.mobile-view]="isMobile"
  [class.mobile-menu-open]="isMobileMenuOpen">

  <div class="no-print">
    <app-sidebar [isCollapsed]="isCollapsed && !isMobile" (collapseChange)="onSidebarCollapseChange($event)"
      (registerMenuInteracted)="onRegisterMenuInteracted($event)">
    </app-sidebar>
  </div>

  <div class="content-overlay" (click)="toggleMobileMenu()"></div>


  <div class="content-wrapper">

    
    <div class="no-print">
      <header class="top-navbar">

        <div class="navbar-controls">
          <button *ngIf="!isMobile" class="toggle-button" (click)="toggleCollapse()" title="Alternar menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16" /></svg>
          </button>
          <button *ngIf="isMobile" class="toggle-button" (click)="toggleMobileMenu()" title="Abrir menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16" /></svg>
          </button>
        </div>


        <div class="page-title-container">

          <h1 class="page-title">{{ currentPageTitle }}</h1>

        </div>

        
        <div class="navbar-actions">
          <button class="btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-brightness-high-fill" viewBox="0 0 16 16">
              <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"/>
            </svg>
          </button>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="userimg" src="assets/vitor.jpg" alt="User Avatar" width="40rem" srcset="">
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/userInfo']">Meu Perfil</a></li>
              <li><a class="dropdown-item" [routerLink]="['/settings']">Configurações</a></li>
              <li><a class="dropdown-item" (click)="LogOff()">Sair</a></li>
            </ul>
          </div>
        </div>
      </header>


    </div>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
