<div class="main-container" 
     [class.collapsed]="isCollapsed && !isMobile" 
     [class.mobile-view]="isMobile"
     [class.mobile-menu-open]="isMobileMenuOpen">

  
  <app-sidebar 
    [isCollapsed]="isCollapsed && !isMobile" 
    (collapseChange)="onSidebarCollapseChange($event)"
    (registerMenuInteracted)="onRegisterMenuInteracted($event)">
  </app-sidebar>
  
  <div class="content-overlay" (click)="toggleMobileMenu()"></div>

  
  <div class="content-wrapper">
    
    
    <header class="top-navbar">
      
      <div class="navbar-controls">
        <button *ngIf="!isMobile" class="toggle-button" (click)="toggleCollapse()" title="Alternar menu">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/></svg>
        </button>
        <button *ngIf="isMobile" class="toggle-button" (click)="toggleMobileMenu()" title="Abrir menu">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/></svg>
        </button>
      </div>

      
      <div class="page-title-container">
        <h1 class="page-title">{{ currentPageTitle }}</h1>
      </div>

      
      <div class="navbar-actions">
        
      </div>
    </header>

    
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>