<div class="table-controls">
  <input type="text" [(ngModel)]="searchTerm" class="search-input" placeholder="Pesquisar">
  <button class="add-button" (click)="openModal('addTravelModal')">Nova Viagem</button>
</div>

@if (travels.length > 0) {
<table class="table table-sm">
  <thead class="table-custom">
    <tr>
      <th scope="col">Nº</th>
      <th scope="col">Data</th>
      <th scope="col">Origem -> Destino</th>
      <th scope="col">Placa / Veículo</th>
      <th scope="col">Produto Predominante</th>
      <th scope="col">Peso da Carga</th>
      <th scope="col">Valor do Frete</th>
      <th scope="col" class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (travel of filteredTravel | slice: (page-1) * pageSize : page * pageSize; track filteredTravel) {
    <tr>
      <th scope="row" (click)="viewTravel = travel; openModal('viewTravelModal')">{{ travels.length }}</th>
      <td (click)="viewTravel = travel; openModal('viewTravelModal')">{{ travel.startDate | date:'dd/MM/yyyy' }} -> {{ travel.endDate | date:'dd/MM/yyyy' }}</td>
      <td (click)="viewTravel = travel; openModal('viewTravelModal')">{{ travel.origin.city }}/{{ travel.origin.state }} -> {{ travel.destination.city }}/{{ travel.destination.state }}</td>
      <td (click)="viewTravel = travel; openModal('viewTravelModal')">{{ travel.vehiclePlate }}</td>
      <td (click)="viewTravel = travel; openModal('viewTravelModal')">{{ travel.load.product }}</td>
      <td (click)="viewTravel = travel; openModal('viewTravelModal')">{{ travel.load.weight | weightFormat }}</td>
      <td (click)="viewTravel = travel; openModal('viewTravelModal')">{{ travel.price | currency:'BRL':'symbol':'1.2-2':'pt-BR'  }}</td>


      <td class="text-center">
        <div class="dropstart">
          <a data-bs-toggle="dropdown">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
              <path
                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
            </svg>
          </a>
          <ul class="dropdown-menu">

            <li>
              <a class="dropdown-item" (click)="cloneTravel(travel)">
                <div class="row">
                  <div class="col-md-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-copy" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z" />
                    </svg>
                  </div>
                  <div class="col-md-9">
                    Clonar
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a class="dropdown-item" (click)="openModal('updateTravelModal')">
                <div class="row">
                  <div class="col-md-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-pencil" viewBox="0 0 16 16">
                      <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                    </svg>
                  </div>
                  <div class="col-md-9">
                    Editar
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a class="dropdown-item" (click)="deleteTravel(travel)">
                <div class="row">
                  <div class="col-md-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-trash" viewBox="0 0 16 16">
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                      <path
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                    </svg>
                  </div>
                  <div class="col-md-9">
                    Deletar
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>
<footer class="footer text-center py-5 d-flex justify-content-end">
  <ngb-pagination [collectionSize]="filteredTravel.length" [(page)]="page" [boundaryLinks]="true">
    <ng-template ngbPaginationPages let-page let-pages="pages">
      @if (pages.length > 0) {
      <li class="ngb-custom-pages-item">
        <div class="mb-3 d-flex flex-nowrap px-2">
          <label id="paginationInputLabel" for="paginationInput" class="col-form-label me-2 ms-1">Page</label>
          <span id="paginationDescription" class="col-form-label text-nowrap px-2">{{ page }} of
            {{ pages.length }}</span>
        </div>
      </li>
      }
    </ng-template>
  </ngb-pagination>
</footer>
} @else {
<div class="card mt-3">
  <div class="card-body text-center p-5">
    <h5 class="card-title">Você não tem nenhuma viagem</h5>
    <p class="card-text text-muted">Clique em "Nova Viagem" para começar a registrar.</p>
  </div>
</div>
}

<app-add-modal></app-add-modal>
<app-view-travel></app-view-travel>
<app-update-modal></app-update-modal>