<div class="main-content">
  <div class="spacer"></div>
  <div class="table-controls">
    <input type="text" class="search-input" [(ngModel)]="searchTerm" placeholder="Pesquisar">
    <!-- <button class="add-button" data-bs-toggle="modal" data-bs-target="#addLoadModal">Adicionar</button> -->
  </div>
  <table class="Load-table">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Tipo</th>
        <th class="actions-header">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (load of filteredLoads | slice: (page-1) * pageSize : page * pageSize; track filteredLoads) {
      <!-- <tr *ngFor="let load of load"> -->
      <tr>
        <td>{{ load.description.description }}</td>
        <td>{{ load.quantity }}</td>
        <td>{{ load.type.type }}</td>
        <td class="actions">
          <!-- <button class="edit-button" (click)="openEditModal(load)" data-bs-toggle="modal"
                    data-bs-target="#editLoadModal">Editar</button>
                    <button class="delete-button" (click)="loadDelete(load.id)">Excluir</button> -->
          <button class="add-button">Visualizar Viagem</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <footer class="footer text-center py-5 d-flex justify-content-end">
    <!-- https://ng-bootstrap.github.io/releases/18.x/#/home -->
    <ngb-pagination [collectionSize]="filteredLoads.length" [(page)]="page" [boundaryLinks]="true">
      <ng-template ngbPaginationPages let-page let-pages="pages">
        @if (pages.length > 0) {
        <li class="ngb-custom-pages-item">
          <div class="mb-3 d-flex flex-nowrap px-2">
            <label id="paginationInputLabel" for="paginationInput" class="col-form-label me-2 ms-1">Page</label>
            <span id="paginationDescription" class="col-form-label text-nowrap px-2">{{ page }} of
              {{ pages.length }}</span>
          </div>
        </li>
        }
      </ng-template>
    </ngb-pagination>
  </footer>
</div>


<!-- Modal de Adicionar Carga -->
<div class="modal fade" id="addLoadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Adicionar Carga</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loadForm" (ngSubmit)="addLoad()">
          <!-- Grupo: description -->
          <div class="mb-3" formGroupName="description">
            <label for="add-description" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="add-description" formControlName="description" required>
          </div>

          <!-- Campo: quantity -->
          <div class="mb-3">
            <label for="add-quantity" class="form-label">Quantidade</label>
            <input type="number" class="form-control" id="add-quantity" formControlName="quantity" required>
          </div>

          <!-- Grupo: type -->
          <div class="mb-3" formGroupName="type">
            <label for="add-type" class="form-label">Tipo</label>
            <input type="text" class="form-control" id="add-type" formControlName="type" required>
          </div>

          <!-- Botões -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-dark">Adicionar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Editar Carga -->
<div class="modal fade" id="editLoadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="editLoadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editLoadModalLabel">Editar Carga</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loadForm" (ngSubmit)="onUpdate()">
          <!-- Grupo: description -->
          <div class="mb-3" formGroupName="description">
            <label for="edit-description" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="edit-description" formControlName="description" required>
          </div>

          <!-- Campo: quantity -->
          <div class="mb-3">
            <label for="edit-quantity" class="form-label">Quantidade</label>
            <input type="number" class="form-control" id="edit-quantity" formControlName="quantity" required>
          </div>

          <!-- Grupo: type -->
          <div class="mb-3" formGroupName="type">
            <label for="edit-type" class="form-label">Tipo</label>
            <input type="text" class="form-control" id="edit-type" formControlName="type" required>
          </div>

          <!-- Botões -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-dark">Salvar Alterações</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
