<app-sidebar></app-sidebar>
<div class="main-content">
  <div>
        <h1>Calculadora de Frete</h1>
        <p class="description">Utilize esta ferramenta para calcular o piso mínimo de frete de acordo com a tabela ANTT.</p>
        <form [formGroup]="calcForm" (ngSubmit)="onSubmit()" id="freight-form">
            <div class="form-grid">
                <div class="form-group">
                    <label for="tipo-carga">Tipo de carga</label>
                    <select id="tipo-carga" formControlName="tipoCarga" required>
                        <option disabled value="">- Selecione o tipo de carga -</option>
                        <option value="1">Carga de Granel Sólido</option>
                        <option value="2">Carga de Granel Líquido</option>
                        <option value="3">Carga Frigorificada ou Aquecida</option>
                        <option value="4">Carga Conteinerizada</option>
                        <option value="5">Carga Geral</option>
                        <option value="6">Carga Neogranel</option>
                        <option value="7">Carga Perigosa (granel sólido)</option>
                        <option value="8">Carga Perigosa (granel líquido)</option>
                        <option value="9">Carga Perigosa (carga frigorificada ou aquecida)</option>
                        <option value="10">Carga Perigosa (conteinerizada)</option>
                        <option value="11">Carga Perigosa (carga geral)</option>
                        <option value="12">Carga Granel Pressurizada</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="numero-eixos">Número de eixos</label>
                    <select id="numero-eixos" formControlName="numeroEixos" required>
                        <option disabled value="">- Selecione a quantidade de eixos -</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="9">9</option>
                    </select>
                </div>
            
                <div class="form-group">
                    <label for="distancia">Distância (em km)</label>
                    <input type="number" id="distancia" formControlName="distancia" placeholder="Digite a distância" required>
                </div>
            
                <div class="form-group">
                    <label for="distancia">Não sabe a distância?</label>
                    <button type="button" id="btn-calcular-distancia" (click)="onCalculateDistance()">Calcular Distância</button>
                </div>
                
                <div class="form-group radio-group">
                    <p>É Carga Lotação?</p>
                    <label><input type="radio" formControlName="cargaLotacao" value="sim"> Sim</label>
                    <label><input type="radio" formControlName="cargaLotacao" value="nao"> Não</label>
                </div>
                
                <div class="form-group radio-group">
                    <p>É Alto Desempenho?</p>
                    <label><input type="radio" formControlName="altoDesempenho" value="sim"> Sim</label>
                    <label><input type="radio" formControlName="altoDesempenho" value="nao"> Não</label>
                </div>
                
                <div class="form-group radio-group span-2">
                    <p>Retorno vazio?</p>
                    <label><input type="radio" formControlName="retornoVazio" value="sim"> Sim</label>
                    <label><input type="radio" formControlName="retornoVazio" value="nao"> Não</label>
                </div>
            </div>
            
            <div class="form-group">
                <button type="submit" id="btn-calcular-frete" >Calcular Frete</button>
            </div>
        </form>

        <div id="resultado">
            <p>Valor Calculado: <span id="valor-resultado">{{ calculatedValue | currency:'BRL':'symbol':'1.2-2':'pt' }}</span></p>
        </div>
    </div>
</div>
