/* Transição suave */
.form-container,
.art-side {
  transition: transform 0.7s ease-in-out;
}
/* Estado animado */
.main-container.active .form-container {
  transform: translateX(-150%);
}
.main-container.active .art-side {
  transform: translateX(-150%);
}

.main-container {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  height: 100vh;
  align-items: center;
}

.form-container {
  background-color: #ffffff;
  width: 40%;
  height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 75%;
  width: 100%;
}

.icon {
  margin-right: 0.2rem;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}

.teste {
  color: var(--primary);
}

.inputs {
  display: flex;
  align-items: stretch;
  margin-top: 8px;
  margin-bottom: 8px;
}

.input-icon {
  background: #ffffff;
  color: #6b7280;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #d1d5db;
  border-right: none;
  font-size: 1.2rem;
}

.input-field {
  width: 100%;
  padding: 12px;
  border-radius: 0px 8px 8px 0px;
  background-color: #e5e7eb;
  border: 1px solid #d1d5db;
  transition: border-color 0.2s, background-color 0.2s;
}

.input-field:focus {
  border-color: var(--primary);
  background-color: white;
  outline: none;
}

.submit-button {
  width: 100%;
  background-color: #1c1c1c;
  color: white;
  border-radius: 8px;
  padding: 12px;
  margin-top: 24px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: #353535;
}

.art-side {
  background-color: #262626;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.art-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  word-break: normal;
  margin-left: 50px;
  text-align: left;
  align-self: flex-start;
  z-index: 2;
}

.art-title-green {
  color: var(--primary);
}

.truck {
  z-index: 2;
  margin-bottom: 20%;
}

.truck img {
  max-width: 90%;
  height: auto;
  display: block;
}

.blobs {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.blob-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.blob-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
