.spacer{
    margin-top: 4%
}

.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    padding: 7px ;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    font-size: 14px;
    width: 16vw;
    outline: none;
    background: var(--component-bg);
    color: var(--text-color);
}

.search-input::placeholder {
    color: var(--text-color);
    opacity: 0.6;
}

.add-button {
    padding: 8px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: var(--primary-dark);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: var(--component-bg);
    color: var(--text-color);
}

.table-group-divider{
    color: var(--border-color);
}

.table-custom th{
    background-color: var(--toggle-hover-bg);
    color: var(--text-color);
}

.table th,
.table td {
    text-align: left;
    border-bottom: 1px solid var(--border-color);
    padding-left: 15px;   
}

.table th {
    font-weight: bold;
}

.table th.actions-header {
    text-align: center;
}

.table td.actions {
    text-align: center;
    white-space: nowrap;
}

.edit-button,
.delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 2px;
    transition: background-color 0.3s ease;
}

.edit-button {
    background-color: #1c1c1c;
    color: white;
}

.edit-button:hover {
    background-color: #353535;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}

.delete-button:hover {
    background-color: #c82333;
}