<app-sidebar></app-sidebar>

<div class="main-content">
    <h1>Caminhões</h1>

    <div class="spacer"></div>
    
    <div class="table-controls">
        <input type="text" class="search-input" placeholder="Pesquisar">
        <button class="add-button">Adicionar</button>
    </div>

    <table class="truck-table">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Cor</th>
                <th class="actions-header">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>AAA1234</td>
                <td>Mercedes-Benz L1620</td>
                <td>2000</td>
                <td>Preto</td>
                <td class="actions">
                    <button class="edit-button">Editar</button>
                    <button class="delete-button">Excluir</button>
                </td>
            </tr>

            </tbody>
    </table>

</div>