<app-sidebar></app-sidebar>

<div class="main-content">
  <app-topbar></app-topbar>
  <h1>Caminhões</h1>

  <div class="spacer"></div>

  <div class="table-controls">
    <input type="text"  [(ngModel)]="searchTerm" class="search-input" placeholder="Pesquisar">
    <button class="add-button" data-bs-toggle="modal" data-bs-target="#addTruckModal">Adicionar</button>
  </div>

  <table class="truck-table">
    <thead>
      <tr>
        <th>Placa</th>
        <!-- <th>Tipo</th> -->
        <th>Nome</th>
        <th class="actions-header">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (truck of filteredTrucks | slice: (page-1) * pageSize : page * pageSize; track trucks) {
      <!-- <tr *ngFor="let truck of trucks"> -->
      <tr>
        <td>{{ truck.vehicleRegistrationPlate.registrationPlate | plateFormat }}</td>
        <!-- <td>{{ truck.vehicleType }}</td> -->
        <td>{{ truck.name }}</td>
        <td class="actions">
          <button class="edit-button" (click)="openEditModal(truck)" data-bs-toggle="modal"
            data-bs-target="#editTruckModal">Editar</button>
          <button class="delete-button" (click)="truckDelete(truck.id)">Excluir</button>
        </td>
      </tr>
      }

    </tbody>
  </table>
  <footer class="footer text-center py-5 d-flex justify-content-end">
    <!-- https://ng-bootstrap.github.io/releases/18.x/#/home -->
    <ngb-pagination [collectionSize]="filteredTrucks.length" [(page)]="page" [boundaryLinks]="true">
      <ng-template ngbPaginationPages let-page let-pages="pages">
        @if (pages.length > 0) {
        <li class="ngb-custom-pages-item">
          <div class="mb-3 d-flex flex-nowrap px-2">
            <label id="paginationInputLabel" for="paginationInput" class="col-form-label me-2 ms-1">Page</label>
            <span id="paginationDescription" class="col-form-label text-nowrap px-2">{{ page }} of
              {{ pages.length }}</span>
          </div>
        </li>
        }
      </ng-template>
    </ngb-pagination>
  </footer>
</div>

<!-- Modal -->
<div class="modal fade" id="addTruckModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Adicionar Caminhão</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="truckForm" (ngSubmit)="addTruck()">
          <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="mb-3" formGroupName="vehicleRegistrationPlate">
            <label for="nome" class="form-label">Placa</label>
            <input type="text" class="form-control" formControlName="registrationPlate" maxlength="8" mask="AAA-0A00"
              [dropSpecialCharacters]="true">
          </div>
          <!-- <label for="tipo" class="form-label">Tipo</label>
              <select class="form-select" id="vehicleType" formControlName="vehicleType">
                <option [ngValue]="null" disabled>Selecione um tipo de veículo</option>
                <option *ngFor="let typeOption of availableVehicleTypes" [ngValue]="typeOption.id">
                    {{ typeOption.name }}
                </option>
              </select> -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-dark">Adicionar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editTruckModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="editTruckModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editTruckModalLabel">Editar Caminhão</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="truckForm" (ngSubmit)="onUpdate()">
          <div class="mb-3">
            <label for="edit-name" class="form-label">Nome</label>
            <input type="text" id="edit-name" class="form-control" formControlName="name">
          </div>
          <div class="mb-3" formGroupName="vehicleRegistrationPlate">
            <label for="edit-registrationPlate" class="form-label">Placa</label>
            <input type="text" id="edit-registrationPlate" class="form-control" formControlName="registrationPlate"
              maxlength="8" mask="AAA-0A00" [dropSpecialCharacters]="true">
          </div>
          <!-- <label for="edit-vehicleType" class="form-label">Tipo</label>
              <select class="form-select" id="edit-vehicleType" formControlName="vehicleType">
                <option [ngValue]="null" disabled>Selecione um tipo de veículo</option>
                <option *ngFor="let typeOption of availableVehicleTypes" [ngValue]="typeOption.id">{{ typeOption.name }}</option>
              </select> -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-dark">Salvar Alterações</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
