<div class="modal fade" id="viewTravelModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="viewTravelModal" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-fullscreen-md-down">
    
    @if (viewTravel) {
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="viewTravelModal">Dados da Viagem de Cod [ {{viewTravel.id}} ]</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="main-content">
            <div class="clearfix">
              
              <!-- Seção do Documento (CT-e) -->
              <div class="col-md-4 float-md-end mb-3 ms-md-3 px-2 py-5">
                <h1>CT-e</h1>
                <div class="card text-center shadow-sm" style="width: 20rem;">
                  <div class="card-body">
                    <h5 class="card-title mb-3">Documento da Viagem</h5>

                    @if (viewTravel.filePath != null) {
                      <button (click)="DownloadPdf()" class="btn btn-primary w-100">
                        Baixar Documento
                      </button>
                    } @else {
                      <div class="alert alert-secondary py-2 px-1 mt-3 mb-0 small" role="alert">
                        Nenhum documento anexado.
                      </div>
                    }

                  </div>
                </div>
              </div>

              <div class="row g-3 px-5 py-4">
                <div class="col-6">
                  <p>Data de Saida</p>
                  <h4>{{viewTravel.startDate | date:'dd/MM/yyyy'}}</h4>
                </div>
                <div class="col-6">
                  <p>Data de Chegada</p>
                  <h4>{{viewTravel.endDate | date:'dd/MM/yyyy'}}</h4>
                </div>
                <hr>
                <h3>Origem</h3>
                
                @if (viewTravel.origin.zipCode != null && viewTravel.origin.zipCode != 'null') {
                  <div class="col-md-12">
                    <p>CEP</p>
                    <h4>{{viewTravel.origin.zipCode}}</h4>
                  </div>
                }
                @if (viewTravel.origin.street != null && viewTravel.origin.street != 'null') {
                  <div class="col-md-6">
                    <p>Rua</p>
                    <h4>{{viewTravel.origin.street}}</h4>
                  </div>
                }
                @if (viewTravel.origin.number != null && viewTravel.origin.number != 'null') {
                  <div class="col-md-6">
                    <p>Numero</p>
                    <h4>{{viewTravel.origin.number}}</h4>
                  </div>
                }
                @if (viewTravel.origin.neighborhood != null && viewTravel.origin.neighborhood != 'null') {
                  <div class="col-md-6">
                    <p>Bairro</p>
                    <h4>{{viewTravel.origin.neighborhood}}</h4>
                  </div>
                }
                @if (viewTravel.origin.complement != null && viewTravel.origin.complement != 'null') {
                  <div class="col-md-6">
                    <p>Complemento</p>
                    <h4>{{viewTravel.origin.complement}}</h4>
                  </div>
                }
                @if (viewTravel.origin.city != null && viewTravel.origin.city != 'null') {
                  <div class="col-md-6">
                    <p>Cidade</p>
                    <h4>{{viewTravel.origin.city}}</h4>
                  </div>
                }
                @if (viewTravel.origin.state != null && viewTravel.origin.state != 'null') {
                  <div class="col-md-3">
                    <p>Estado</p>
                    <h4>{{viewTravel.origin.state}}</h4>
                  </div>
                }
                @if (viewTravel.origin.country != null && viewTravel.origin.country != 'null') {
                  <div class="col-md-3">
                    <p>País</p>
                    <h4>{{viewTravel.origin.country}}</h4>
                  </div>
                }
                @if (viewTravel.origin.hemisphere != null && viewTravel.origin.hemisphere != 'null') {
                  <div class="col-md-2">
                    <p>Hemisfério</p>
                    <h4>{{viewTravel.origin.hemisphere}}</h4>
                  </div>
                }
                @if (viewTravel.origin.xCoord != null && viewTravel.origin.xCoord != 'null') {
                  <div class="col-md-5">
                    <p>Coordenada X</p>
                    <h4>{{viewTravel.origin.xCoord}}</h4>
                  </div>
                }
                @if (viewTravel.origin.yCoord != null && viewTravel.origin.yCoord != 'null') {
                  <div class="col-md-5">
                    <p>Coordenada Y</p>
                    <h4>{{viewTravel.origin.yCoord}}</h4>
                  </div>
                }

                <hr>
                <h3>Destino</h3>
                @if (viewTravel.destination.zipCode != null   && viewTravel.destination.zipCode != 'null') {
                  <div class="col-md-12">
                    <p>CEP</p>
                    <h4>{{viewTravel.destination.zipCode}}</h4>
                  </div>
                }
                @if (viewTravel.destination.street != null && viewTravel.destination.street != 'null') {
                  <div class="col-md-6">
                    <p>Rua</p>
                    <h4>{{viewTravel.destination.street}}</h4>
                  </div>
                }
                @if (viewTravel.destination.number != null && viewTravel.destination.number != 'null') {
                  <div class="col-md-6">
                    <p>Numero</p>
                    <h4>{{viewTravel.destination.number}}</h4>
                  </div>
                }
                @if (viewTravel.destination.neighborhood != null && viewTravel.destination.neighborhood != 'null') {
                  <div class="col-md-6">
                    <p>Bairro</p>
                    <h4>{{viewTravel.destination.neighborhood}}</h4>
                  </div>
                }
                @if (viewTravel.destination.complement != null && viewTravel.destination.complement != 'null') {
                  <div class="col-md-6">
                    <p>Complemento</p>
                    <h4>{{viewTravel.destination.complement}}</h4>
                  </div>
                }
                @if (viewTravel.destination.city != null && viewTravel.destination.city != 'null') {
                  <div class="col-md-6">
                    <p>Cidade</p>
                    <h4>{{viewTravel.destination.city}}</h4>
                  </div>
                }
                @if (viewTravel.destination.state != null  && viewTravel.destination.state != 'null') {
                  <div class="col-md-3">
                    <p>Estado</p>
                    <h4>{{viewTravel.destination.state}}</h4>
                  </div>
                }
                @if (viewTravel.destination.country != null && viewTravel.destination.country != 'null') {
                  <div class="col-md-3">
                    <p>País</p>
                    <h4>{{viewTravel.destination.country}}</h4>
                  </div>
                }
                @if (viewTravel.destination.hemisphere != null && viewTravel.destination.hemisphere != 'null') {
                  <div class="col-md-2">
                    <p>Hemisfério</p>
                    <h4>{{viewTravel.destination.hemisphere}}</h4>
                  </div>
                }
                @if (viewTravel.destination.xCoord != null && viewTravel.destination.xCoord != 'null') {
                  <div class="col-md-5">
                    <p>Coordenada X</p>
                    <h4>{{viewTravel.destination.xCoord}}</h4>
                  </div>
                }
                @if (viewTravel.destination.yCoord != null && viewTravel.destination.yCoord != 'null') {
                  <div class="col-md-5">
                    <p>Coordenada Y</p>
                    <h4>{{viewTravel.destination.yCoord}}</h4>
                  </div>
                }
              </div>
              <hr class="my-2">
              <div class="row g-3 px-5 py-4">
                <div class="col-md-6">
                    <p>Veiculo Utilizado</p>
                    <h4>{{truck?.name}}</h4>
                  </div>
                  <div class="col-md-6">
                    <p>Placa do Veiculo</p>
                    <h4>{{ (truck?.vehicleRegistrationPlate?.registrationPlate || '') | plateFormat }}</h4>
                  </div>
                  <div class="col-md-6">
                    <p>Tipo do Veiculo</p>
                    <h4>{{truck?.truckType}}</h4>
                  </div>
                <!-- <div class="col-md-6">
                  <p>Reboque Utilizado</p>
                  <h4>{{truck?.bodyType}}</h4>
                </div> -->
              </div>
              <hr class="my-2">
              <div class="row g-3 px-5 py-4">
                <div class="col-md-6">
                  <p>Produto Predominante</p>
                  <h4>{{viewTravel.load.product}}</h4>
                </div>
                <div class="col-md-6">
                  <p>Tipo do Produto</p>
                  <h4>{{viewTravel.load.loadType}}</h4>
                </div>
                <div class="col-md-6">
                  <p>Peso da Carga</p>
                  <h4>{{viewTravel.load.weight | weightFormat}}</h4>
                </div>
                <div class="col-md-6">
                  <p>Valor do Frete</p>
                  <h4>{{viewTravel.price | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</h4>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>