<div class="main-container" #mainContainer>
  <div class="image-side">
  </div>
  <div class="form-container">
    <form class="login-form needs-validation" [formGroup]="enterpriseForm" (ngSubmit)="onSubmit(mainContainer)" novalidate>
      <h2 class="form-title">Crie sua empresa</h2>
      <p class="form-subtitle">Preencha os dados abaixo para criar sua conta.</p>
      <div class="form-group">
        <label for="companyName">Nome da Empresa</label>
        <div class="inputs">
          <i class="input-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
              <circle cx="9" cy="7" r="4"></circle>
              <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
              <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
            </svg>
          </i>
          <input type="text" name="companyName" id="companyName" formControlName="name" placeholder="Nome da Empresa"
            class="input-field"
            [class.is-invalid]="enterpriseForm.get('name')?.invalid && (enterpriseForm.get('name')?.dirty || enterpriseForm.get('name')?.touched)"
            [class.is-valid]="enterpriseForm.get('name')?.valid && (enterpriseForm.get('name')?.dirty || enterpriseForm.get('name')?.touched)">
        </div>
        <div
          *ngIf="enterpriseForm.get('name')?.invalid && (enterpriseForm.get('name')?.dirty || enterpriseForm.get('name')?.touched)"
          class="invalid-feedback d-block">
          <div *ngIf="enterpriseForm.get('name')?.errors?.['required']">
            Nome obrigatório.
          </div>
          <div *ngIf="enterpriseForm.get('name')?.errors?.['minlength']">
            O nome deve ter pelo menos 2 caracteres.
          </div>
          <div *ngIf="enterpriseForm.get('name')?.errors?.['maxlength']">
            O nome deve ter no máximo 50 caracteres.
          </div>
        </div>
        <div
          *ngIf="enterpriseForm.get('name')?.valid && (enterpriseForm.get('name')?.dirty || enterpriseForm.get('name')?.touched)"
          class="valid-feedback d-block">
          Nome válido!
        </div>
      </div>
      <div class="form-group">
        <label for="taxId">CNPJ</label>
        <div class="inputs">
          <i class="input-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="4"></circle>
              <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path>
            </svg>
          </i>
          <input type="text" name="taxId" id="taxId" formControlName="taxId" placeholder="CNPJ" class="input-field" mask="00.000.000/0000-00"
            [class.is-invalid]="enterpriseForm.get('taxId.taxId')?.invalid && (enterpriseForm.get('taxId.taxId')?.dirty || enterpriseForm.get('taxId.taxId')?.touched)"
            [class.is-valid]="enterpriseForm.get('taxId.taxId')?.valid && (enterpriseForm.get('taxId.taxId')?.dirty || enterpriseForm.get('taxId.taxId')?.touched)">
        </div>
        <div
          *ngIf="enterpriseForm.get('taxId.taxId')?.invalid && (enterpriseForm.get('taxId.taxId')?.dirty || enterpriseForm.get('taxId.taxId')?.touched)"
          class="invalid-feedback d-block">
          <div *ngIf="enterpriseForm.get('taxId.taxId')?.errors?.['required']">
            CNPJ obrigatório.
          </div>
          <div *ngIf="enterpriseForm.get('taxId.taxId')?.errors?.['pattern']">
            CNPJ inválido.
          </div>
        </div>
        <div
          *ngIf="enterpriseForm.get('taxId.taxId')?.valid && (enterpriseForm.get('taxId.taxId')?.dirty || enterpriseForm.get('taxId.taxId')?.touched)"
          class="valid-feedback d-block">
          CNPJ válido!
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <div class="inputs">
          <i class="input-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
              <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
          </i>
          <input type="text" name="email" id="email" formControlName="email" placeholder="Email" class="input-field"
            [class.is-invalid]="enterpriseForm.get('email')?.invalid && (enterpriseForm.get('email')?.dirty || enterpriseForm.get('email')?.touched)"
            [class.is-valid]="enterpriseForm.get('email')?.valid && (enterpriseForm.get('email')?.dirty || enterpriseForm.get('email')?.touched)">
        </div>
        <div
          *ngIf="enterpriseForm.get('email')?.invalid && (enterpriseForm.get('email')?.dirty || enterpriseForm.get('email')?.touched)"
          class="invalid-feedback d-block">
          <div *ngIf="enterpriseForm.get('email')?.errors?.['required']">
            Email obrigatório.
          </div>
          <div *ngIf="enterpriseForm.get('email')?.errors?.['email']">
            Email inválido.
          </div>
        </div>
        <div
          *ngIf="enterpriseForm.get('email')?.valid && (enterpriseForm.get('email')?.dirty || enterpriseForm.get('email')?.touched)"
          class="valid-feedback d-block">
          Email válido!
        </div>
      </div>
      <input class="submit-button" type="submit" value="Continuar" [disabled]="enterpriseForm.invalid">
      <div class="form-footer">
      <p class="form-footer-text">
        Já tem uma conta? <a routerLink="/login">Entrar</a>
      </p>
    </div>
    </form>
  </div>
  
</div>