<div class="main-content">
  <h1>Usuarios</h1>

  <div class="spacer"></div>

  <div class="table-controls">
    <input type="text" class="search-input" placeholder="Pesquisar">
    <button class="add-button" (click)="openModal('add')">Adicionar</button>
  </div>

  <table class="truck-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Email</th>
        <th class="actions-header">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.firstName + ' ' + user.lastName }}</td>
        <td>{{ user.taxId.taxId | taxFormat }}</td>
        <td>{{ user.phoneNumber | phoneFormat }}</td>
        <td>{{ user.email }}</td>
        <td class="actions">
          <button class="info-button">Mais Informações</button>
          <span class="separator">|</span>
          <button class="edit-button" (click)="openModal('edit',user)">Editar</button>
          <button class="delete-button">Excluir</button>
        </td>
      </tr>

    </tbody>
  </table>

</div>
<app-modal [title]="'Adicionar Usuário'" [mode]="modalMode" [userData]="selectedUser"
  (onSubmit)="handleUserSubmit($event)">
</app-modal>
