/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primary: #74c009;
}

* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #f4f7f6;
}

