<app-sidebar></app-sidebar>
<div class="main-content">
  <div class="clearfix">
    <img src="assets/user-avatar.png" class="col-md-3 float-md-end mb-3 ms-md-3 px-5 py-5"alt="...">
    <form class="row g-3 px-5 py-4">
      <h1>Dados do Usuário</h1>
      <div class="col-md-6">
        <label for="" class="form-label">Nome</label>
        <input type="text" class="form-control" id="">
      </div>
      <div class="col-md-6">
        <label for="" class="form-label">Sobre Nome</label>
        <input type="text" class="form-control" id="">
      </div>
      <div class="col-12">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" id="">
      </div>
      <!-- <div class="col-2">
        <div class="d-grid py-4">
          <button type="button" class="btn btn-primary">Alterar Email</button>
        </div>
      </div> -->
      <div class="col-6">
        <label for="" class="form-label">CPF</label>
        <input type="text" class="form-control" id="">
      </div>
      <div class="col-md-6">
        <label for="" class="form-label">Telefone</label>
        <input type="text" class="form-control" id=""> 
      </div>
      
      <div class="col-12 ">
        <button type="submit" class="btn btn-primary">Editar Dados</button>
      </div>
    </form>
    <hr class="my-5">
    <form class="row g-2 px-5">
      <h1>Dados da Empresa</h1>
      <div class="col-md-6">
        <label for="" class="form-label">Nome</label>
        <input type="text" class="form-control" id="">
      </div>
      <div class="col-md-6">
        <label for="" class="form-label">CNPJ</label>
        <input type="text" class="form-control" id="">
      </div>
      <div class="col-12">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" id="">
      </div>
      
      
    </form>

    
  </div>
</div>
