<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changePasswordModalLabel">Alterar Senha</h5>
        <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="changePasswordForm" id="changePasswordForm" (ngSubmit)="changePassword()" autocomplete="off" novalidate>
          <div class="form-group mb-3">
            <label for="currentPassword">Senha Atual</label>
            <input
              type="password"
              id="currentPassword"
              formControlName="currentPassword"
              class="form-control"
              autocomplete="current-password" 
            />
            <div *ngIf="changePasswordForm.get('currentPassword')?.invalid && (changePasswordForm.get('currentPassword')?.dirty || changePasswordForm.get('currentPassword')?.touched)" class="invalid-feedback d-block">
              Senha atual é obrigatória.
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="newPassword">Nova Senha</label>
            <input
              type="password"
              id="newPassword"
              formControlName="newPassword"
              class="form-control"
              autocomplete="new-password"
            />
             <div *ngIf="changePasswordForm.get('newPassword')?.invalid && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)" class="invalid-feedback d-block">
              <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">Nova senha é obrigatória.</div>
              <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']">A senha deve ter pelo menos 6 caracteres, uma letra maiúscula e um número.</div>
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="confirmPassword">Confirmar Nova Senha</label>
            <input
              type="password"
              id="confirmPassword"
              formControlName="confirmPassword"
              class="form-control"
              autocomplete="new-password"
            />
            <div *ngIf="changePasswordForm.get('confirmPassword')?.invalid && (changePasswordForm.get('confirmPassword')?.dirty || changePasswordForm.get('confirmPassword')?.touched)" class="invalid-feedback d-block">
              Confirmação de senha é obrigatória.
            </div>
            <div *ngIf="changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('confirmPassword')?.touched" class="invalid-feedback d-block">
              As senhas não coincidem.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Fechar</button>
        <button type="submit" form="changePasswordForm" class="btn btn-primary">Alterar Senha</button>
      </div>
    </div>
  </div>
</div>