<div class="modal fade" id="addTruckModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Adicionar Caminhão</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="truckForm" (ngSubmit)="addTruck()" class="needs-validation" novalidate>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="nome" class="form-label">Nome</label>
              <input type="text" class="form-control" formControlName="name"
                [class.is-invalid]="truckForm.get('name')?.invalid && truckForm.get('name')?.touched" id="nome"
                placeholder="Digite o nome do caminhão">
              <div class="invalid-feedback" *ngIf="truckForm.get('name')?.errors as errors">
                <div *ngIf="errors['required']">Nome obrigatório.</div>
                <div *ngIf="errors['minlength']">O nome deve ter pelo menos 2 caracteres.</div>
                <div *ngIf="errors['maxlength']">O nome deve ter no máximo 50 caracteres.</div>
              </div>
            </div>

            <div class="col-md-6 mb-3" formGroupName="vehicleRegistrationPlate">
              <label for="placa" class="form-label">Placa</label>
              <input type="text" class="form-control" formControlName="registrationPlate" maxlength="8" mask="AAA-0A00"
                [dropSpecialCharacters]="true"
                [class.is-invalid]="truckForm.get('vehicleRegistrationPlate.registrationPlate')?.invalid && truckForm.get('vehicleRegistrationPlate.registrationPlate')?.touched"
                [class.is-valid]="truckForm.get('vehicleRegistrationPlate.registrationPlate')?.valid && truckForm.get('vehicleRegistrationPlate.registrationPlate')?.touched"
                id="placa" placeholder="ABC-1D23">
              <div class="invalid-feedback"
                *ngIf="truckForm.get('vehicleRegistrationPlate.registrationPlate')?.errors as errors">
                <div *ngIf="errors['required']">Placa obrigatória.</div>
                <div *ngIf="errors['pattern']">A placa deve ser uma placa válida.</div>
              </div>
              <div class="valid-feedback">
                Placa válida!
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="truckType" class="form-label">Tipo do Veículo</label>
            <select id="truckType" class="form-select" formControlName="truckType"
              [class.is-invalid]="truckForm.get('truckType')?.invalid && truckForm.get('truckType')?.touched">
              <option [ngValue]="null" disabled>Selecione o tipo...</option>
              <option *ngFor="let type of truckTypes" [value]="type">{{ type }}</option>
            </select>
            <div class="invalid-feedback" *ngIf="truckForm.get('truckType')?.errors?.['required']">
              A seleção do tipo é obrigatória.
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3" *ngIf="truckForm.get('truckType')?.value === 'Tração'">
              <label for="wheelType" class="form-label">Tipo de Rodado</label>
              <select id="wheelType" class="form-select" formControlName="wheelType"
                [class.is-invalid]="truckForm.get('wheelType')?.invalid && truckForm.get('wheelType')?.touched">
                <option [ngValue]="null" disabled>Selecione o tipo de rodado...</option>
                <option *ngFor="let type of wheelTypes" [value]="type">{{ type }}</option>
              </select>
              <div class="invalid-feedback" *ngIf="truckForm.get('wheelType')?.errors?.['required']">
                A seleção do rodado é obrigatória.
              </div>
            </div>
            <div class="col-md-6 mb-3" *ngIf="truckForm.get('bodyType')?.enabled">
              <label for="bodyType" class="form-label">Tipo de Carroceria</label>
              <select id="bodyType" class="form-select" formControlName="bodyType"
                [class.is-invalid]="truckForm.get('bodyType')?.invalid && truckForm.get('bodyType')?.touched">
                <option [ngValue]="null" disabled>Selecione o tipo de carroceria...</option>
                <option *ngFor="let type of bodyTypes" [value]="type">{{ type }}</option>
              </select>
              <div class="invalid-feedback" *ngIf="truckForm.get('bodyType')?.errors?.['required']">
                A seleção da carroceria é obrigatória.
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-dark" [disabled]="truckForm.invalid">
              Adicionar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
