<div class="login">
    <div class="gest-o-inteligente-para-seus-fretes">
      <span>
        <span class="gest-o-inteligente-para-seus-fretes-span">Gestão</span>
        <span class="gest-o-inteligente-para-seus-fretes-span2"></span>
        <span class="gest-o-inteligente-para-seus-fretes-span3">
          Inteligente
          <br />
        </span>
        <span class="gest-o-inteligente-para-seus-fretes-span4">
          para seus fretes
        </span>
      </span>
    </div>
    <img class="blob-9" src="img/Blob9.png" />
    <img class="blob-4" src="img/Blob4.png" />
    <div class="rectangle-8"></div>
    <div class="botao-entrar">
      <div class="bot-o-entrar"></div>
      <div class="entrar">Entrar</div>
    </div>
    <div class="senha">
      <div class="campo-senha"></div>
      <div class="rectangle-13"></div>
      <img class="lock" src="img/Lock.svg" />
      <div class="senha2">Senha</div>
      <img class="eye" src="" />
    </div>
    <div class="usuario">
      <div class="campo-usuario"></div>
      <div class="rectangle-12"></div>
      <img class="user" src="img/User.svg" />
      <div class="usu-rio">Usuário</div>
    </div>
    <div class="group-1">
      <div class="gesfret">
        <span>
          <span class="gesfret-span">GES</span>
          <span class="gesfret-span2">FRET</span>
        </span>
      </div>
      <img class="truck" src="img/7c45873bcf7293db2a710cf3d13e8718.png" />
    </div>
    <img class="silver-truck" src="img/e86e34cd509273b72400fe25f364704d.png" />
  </div>
  
<!-- 
KeyCloak Config in Angular
https://www.npmjs.com/package/keycloak-angular 
-->