<div class="alert-container" *ngIf="show">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Alert : </strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
<!-- <div class="alert alert-danger d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div>
    {{ message }}
  </div>
</div> -->